@import './reset.scss';
@import './color.scss';
@import './fonts.scss';
@import url(https://fonts.googleapis.com/css?family=Playfair+Display:regular,500,600,700,800,900,italic,500italic,600italic,700italic,800italic,900italic);

body{
font-family: StoneSoup,PlayfairDisplay;
overflow-x: hidden;
background: linear-gradient(0deg, #000000, #000000), #15151C;
color: black;
}
